.display-buttons-styles,
.display-buttons-marques,
.display-buttons-types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 1vw;
    font-weight: bold;
}
.display-buttons-styles {
    background-color: rgb(32, 190, 190);
}
.display-buttons-marques {
    background-color: rgb(84, 93, 93);
}
.display-buttons-types {
    background-color: rgb(255, 0, 0);
}
.display-image-guitar {
    width: 100%;
}
.style-button-styles,
.style-button-marques,
.style-button-types {
    min-width: 10%;
    height: auto;
    border-radius: 2vw;
    font-family: 'Bauman';
    font-size: 2vw;
    padding: 0 1vw 0 1vw;
}
.style-button-styles {
    border: 5px solid brown;
}
.style-button-marques {
    border: 5px solid rgb(63, 108, 15);
}
.style-button-types {
    border: 5px solid rgb(255, 135, 37);
}
.style-button-styles:hover {
    border: 5px solid rgb(0, 0, 0);
}
.style-button-marques:hover {
    border: 5px solid rgb(0, 0, 0);
}
.style-button-types:hover {
    border: 5px solid rgb(0, 0, 0);
}
.display-options {
    display: flex;
    flex-direction: row;
}
.display-guitars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}