.display-infos-guitar {
    position: relative;
    width: 25%;
    aspect-ratio: 1/1.618;
    border-radius: 0.5vw;
    background: white;
    background-color:rgba(255, 255, 255, 0.5);
    margin: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display-image-guitar {
    width: 100%;
    height: 100%;
}
.display-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.display-text-marque,
.display-text-style,
.display-text-type{
    margin-block-start: 0;
    margin-block-end: 0;
}
.display-delete{
position: absolute;
bottom: 10px;
right: 10px;
font-size: 2vw;
cursor: pointer;
}